<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>

    <div>
        <a href='/'>Main Blog Page</a>
        <a href='/logout'>Add a Blog Entry</a>
        
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li></li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>