<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }

            h1 {
                text-align: center;
            }

            nav {
                display: flex;
                justify-content: space-around;
            }

            form {
                justify-content:flex-start;
            }
        </style>
        
    </head>
<body>

    <nav>
        <a href='/'>Main Blog Page</a>
        <a href='/newpost'>Add a Blog Entry</a>
        
    </nav>
    
    {% block content %}


    {% endblock %}

</body>
</html>