<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .flashes {
                color: red;
            }

            .center_large {
                text-align: center;
            }

            nav {
                display: flex;
                justify-content: space-around;
            }

            form {
                justify-content:flex-start;
            }
        </style>
        
    </head>
<body>

    <nav>
        <a href='/'>Main Blog Page</a>
        <a href='/'>Add a Blog Entry</a>

        <div style='float: right'>
            {% if 'email' in session %}
              {{ session['email'] }}
              <form action="/logout" method="post" id='logout'>
                <input type="submit" value="Log Out" />
              </form>
            {% else %}
              <a href="login">login</a> | <a href="signup">create account</a>
            {% endif %}
          </div>
        
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}






    {% block content %}


    {% endblock %}

</body>
</html>